<html>

<head>
    <title></title>
    <h4>Filter and map method will return a new array</h4>
</head>

<body>
    <script>
        var arr = [20, 10, 30, 40, 50, 60, 70];
        const newarr = arr.filter((elem) => {
            return elem > 50
        });
        console.log(newarr)
    </script>

    <script>
        const array1 = [
            { id: "1", name: "a" },
            { id: "2", name: "b" },
            { id: "3", name: "c" },
            { id: "4", name: "d" },
        ];
        const array2 = [
            { id: "2", name: "b" },
            { id: "3", name: "c" },
        ];

        const filterArray = (array1, array2) => {
            const filtered = array1.filter((el) => {
                return array2.indexOf(el) === -1
            })
            return filtered;
        };
        console.log(filterArray(array1, array2))
    </script>
    <script>
        var number = [4, 9, 16, 25];

        const x = number.map(Math.sqrt);
        document.write(x);
    </script>
    <br>
    <p id="demo"></p>
    <script>
        var fruits = ["apple", "orange", "cherry"];
        fruits.forEach(myFunction);
        function myFunction(item, index) {
            document.getElementById('demo').innerHTML += index + ":" + item
        }

    </script>
    <script>
        var str = "How are you doing today?";
        var res = str.split(" ");
        document.write(res);
    </script>

    <script>
      const array = [1,2,1,2,3,4,5,6,7,8,9];
      const filterArr = array.filter((value, index) => array.indexOf(value) === 1 );
      
      console.log(filterArray);

    </script>
</body>

</html>
<!-- 
var declarations are globally scoped or function scoped while let and const are block scoped.
var variables can be updated and re-declared within its scope; let variables can be updated but not re-declared; const variables can neither be updated nor re-declared.
They are all hoisted to the top of their scope. But while var variables are initialized with undefined, let and const variables are not initialized.
While var and let can be declared without being initialized, const must be initialized during declaration. -->